body{
    font-family: 'Lato', sans-serif;
    background-color: #1F2024;
}
#header {
    width: 100%;
    background-color: transparent;
    transition: background ease-out 0.2s;
}

#header .navbar-collapse {
    width: auto;
}

#header .nav-link {
    text-transform: uppercase;
    font-weight: 500;
    padding-left: 0;
    padding-right: 0;
    color: white;
    border-bottom: solid 4px transparent;
}

#header .nav-link:hover {
    border-bottom: solid 4px #4B4952;
    color: #79717A;
}


#slider h1{
    font-size: 85px;
    font-weight: 900;
}

#slider h4{
    font-size: 25px;
    margin-top: 80px;
}

#slider h3{
    font-size: 85px;
    margin-top: 100px;
}

#slider p{
    font-size: 25px;
    line-height: 48px;
}

.typewriter h4{
    color: white;
    overflow: hidden;
    border-right: .15em solid white;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: 
        typing 7.5s steps(40, end),
        blink-caret .75s step-end infinite;
}

    @keyframes typing {
        from { width: 0 }
        to { width: 100% }
    }
    
    @keyframes blink-caret {
        from, to { border-color: transparent}
        50% { border-color: white}
    }
